

body{
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
}

/*
=======Topnav=========
*/
.top-back-color{
	background-color: black;
	color: white;
}

.parent-tel{
	line-height: 60px;
}

/*
=======Girl running======
*/

.reduce-padding{
	padding: 1px;
}

#slogan1{
	position: absolute; 
	top: 30%; 
	left: 10%;
	font-size: 2.5em; /*40px*/
}
#slogan2{
	position: absolute; 
	top: 37%; 
	left: 23%;
	font-size: 1.56em; /*25px*/
}

.drinks{
	position: absolute;
	top: 50%;
	left: 9%;
}


/*
=====Text==========
*/

#background-content{
	background-color: #e4edc0;
	border-radius: 5px;
}

.top-space{
	margin-top: 12%;
}

/*
=======Form=========
*/

.mini-drink{
	width: auto;
}

.form-back{
	background: -webkit-linear-gradient(#acc64b, #9cb243); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#acc64b, #9cb243); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#acc64b, #9cb243); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#acc64b, #9cb243); /* Standard syntax */
	border-radius: 15px;
}

#btn-send{
	background-color: #acc64b;
	border: 1px solid #657430;
	margin-left: 9%;
	color: black;
}

.thank-you-wrapper{
	margin-top: 25%;
}

/*
========Footer===========*/

.address-size{
	font-size: 0.875em;
}

.footer-top-space{
	margin-top: 15px;
}

/*
======Media============
*/


/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) { 
  #slogan1{
    font-size: 2em;
  }
  #slogan2{
	font-size: 1.04em;
  }

  .drinks{
  	width: 30%;
  }   

  .thank-you-wrapper{
	margin-top: 0%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  #slogan1{
    font-size: 1.7em;
  }
  #slogan2{
	font-size: 1em;
  } 
  .logo{
  	width: 30%;
  }
  .tel{
  	display: none;
  }

  

}

@media (max-width: 670px) {
  #slogan1{
    font-size: 1.4em;
  }
  #slogan2{
    font-size: .8em;
  } 
}

@media (max-width: 520px) {
  #slogan1{
    font-size: 1.1em;
  }
  #slogan2{
	font-size: .6em;
  } 
}

@media (max-width: 400px) {
  #slogan1{
    font-size: 0.9em;
  }
  .drinks{
  	width: 25%;
  }

  .mini-drink{
  	width: 50%;
  }

  .address-size{
	font-size: 0.7em;
}
  
}